    .header h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  .button-create{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .button-create button{
    width: 150px;
    height: 40px;
    background-color: #009E0F;
  }
  .button-create button span{
    color: white;
  }
  .background_behind{
    position: fixed;
    width: 100wh;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1001;
    opacity: 0.9,
  }
  