.container_loading_wapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d2d2d2;
  z-index: 998;
  opacity: 0.9;
  inset: 0px;
  }
.container_spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999
}